@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: crimson;
  --primary-color-darker: #441D2A;
  --neutro: #220E15;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color-darker);
  font-family: 'Open sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.container {
  max-width: 70%;
  margin: 50px auto;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 15px;
  height: 25px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

button {
  color: #ffffff;
  background-color: var(--primary-color-darker);
  height: 5rem;
  cursor: pointer;
  margin-top: 3rem;
}

button:hover {
  color: #FFFFFF;
  background-color: var(--neutro);
}

.responsive-table {
  overflow-x: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  background: #eee;
}

table td,
table th {
  padding: 1rem;
  text-align: center;
}