<footer id="footer">
  <div class="footer-content">
    <div class="socials">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>

  <div id="footer" class="footer">
    <a rel="nofollow" target="_blank" style="color:white">Feito com <span class="heart">❤</span> pelo OpenLab</a>
  </div>

  <div class="footer-info">
    <ul class="footer-info-items">
      <li class="footer-info-item">Legal</li>
      <li class="footer-info-item">Centro de Privacidade</li>
      <li class="footer-info-item">Política de Privacidade</li>
      <li class="footer-info-item">Cookies</li>
      <li class="footer-info-item">Sobre Anúncios</li>
    </ul>
  </div>

  <div class="footer_copy">
    <small>&copy; Copyright 2022</small>
  </div>
</footer>

<script src="https://kit.fontawesome.com/1427d1eda2.js" crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/assets/js/bundle.js"></script>
</body>

</html>
