<hr />
<br />
<form action="/administracao/paginainicial" method="post">
  <input
    type="text"
    name="codigo_servidor"
    value="<%= codigo_servidor%>"
    hidden
  />
  <input type="text" name="senha" value="<%= senha%>" hidden />
  <button class="btn button btn-dark">Voltar</button>
</form>