<!doctype html>
<html lang="pt-BR">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="assets/img/I.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    *{
      scrollbar-width: thin;
      scrollbar-color: black transparent;
    }

    *::-webkit-scrollbar {
      width: 5px;
      height: 5px; /* A altura só é vista quando a rolagem é horizontal */
    }

    *::-webkit-scrollbar-track {
      background: transparent;
      padding: 2px;
    }

    *::-webkit-scrollbar-thumb {
      background-color: #000;
    }
  </style>
  <title>Sistema Integrado de Segurança</title>
</head>

<body>
