<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="first_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="text-center">Assistência de Alunos</h1>
        <div class="responsive-table">
          <form action="/administracao/saidaEstudante" method="POST" enctype="multipart/form-data">
            <p class="text-center lead">Insira o dado do aluno que deseja verificar:</p>
            <input type="text" class="form-control" id="ra" name="ra" autocomplete="off" placeholder="RA">
            <input type="text" class="form-control" id="cpf" name="cpf" autocomplete="off" placeholder="CPF">
            <input type="text" class="form-control" id="nome" name="nome" autocomplete="off" placeholder="NOME COMPLETO">
            <input type="text" class="form-control" name="user" value="<%= user%>" hidden/>
            <input type="file" name="avatar" class="form-control">
            <button class="btn button btn-success small">Ver</button>
          </form>
          <hr>
          <form action="/administracao/login">
            <button class="btn button btn-dark">Voltar</button>
          </form>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>

<%- include('includes/footer');%>
