<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3" style="align-items: center; justify-content: center;">
      <h1 class="text-center">Sistema Integrado de Segurança</h1>
      <p class="text-center lead">Selecione a opção desejada.</p>
      <a href="/cadastro/estudante" style="width: 70%; height: 4rem; text-align: center;">
        <button type="submit" class="btn"  style="width: 100%; height: 5rem; text-align: center; margin: 1rem 0 0 0;" >
          Estudante
        </button>
      </a>
      <a href="/cadastro/curso" style="width: 70%; height: 4rem; text-align: center;">
        <button type="submit" class="btn"  style="width: 100%; height: 5rem; text-align: center; margin: 1rem 0 0 0;" >
          Curso
        </button>
      </a>
      <a href="/cadastro/matricula" style="width: 70%; height: 4rem; text-align: center;">
        <button type="submit" class="btn"  style="width: 100%; height: 5rem; text-align: center; margin: 1rem 0 0 0;" >
          Matrícula
        </button>
      </a>
      <a href="/cadastro/disciplina" style="width: 70%; height: 4rem; text-align: center;">
        <button type="submit" class="btn"  style="width: 100%; height: 5rem; text-align: center; margin: 1rem 0 0 0;" >
          Disciplina
        </button>
      </a>
      <a href="/cadastro/horario" style="width: 70%; height: 4rem; text-align: center;">
        <button type="submit" class="btn"  style="width: 100%; height: 5rem; text-align: center; margin: 1rem 0 0 0;" >
          Horário
        </button>
      </a>
        <a href="/cadastro/horarioestudante" style="width: 70%; height: 4rem; text-align: center;">
        <button type="submit" class="btn"  style="width: 100%; height: 5rem; text-align: center; margin: 1rem 0 0 0;">
          Disciplina ao Estudante
        </button>
      </a>
        <a href="/cadastro/registro"style="width: 70%; height: 4rem; text-align: center;">
        <button type="submit" class="btn"  style="width: 100%; height: 5rem; text-align: center; margin: 1rem 0 0 0;">
          Registros
        </button>
      </a>
        <form action="/administracao/paginainicial" method="post">
          <input type="text" name="user" value="coordenacao" hidden>
          <input type="text" name="senha" value="123456" hidden>
          <button class="btn btn-success">Voltar</button>
        </form>
      </a>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer') %>