<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="first_part">
  <div class="container">
    <div class="title container-fluid">
    <h2> 
      <span>SInMoS</span>
    </h2>
    </div>
    <div class="text1"><span>Sistema Integrado de Monitoramento e Segurança</span></div>
    <br><br><br>
    <div class="text2"><a href="/administracao/login"><button type="button" class="btn btn-dark btn-lg buttonIndex">Login</button></a></div>       
  </div>
</div>
<%- include('includes/end') %>
