<%- include('includes/head') %> <%- include('includes/nav') %>
<div class="first_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 my-3">
        <h1 class="text-center">SINMOS</h1>
        <p class="text-center lead">Faça o login abaixo.</p>
        <form action="/administracao/paginainicial" method="POST">
          <div class="form-group">
            <label>Código do Servidor</label>
            <input
              type="text"
              class="form-control input"
              name="codigo_servidor"
              placeholder="CÓDIGO"
              autocomplete="off"
            />
            <label>Senha</label>
            <input
              type="password"
              class="form-control input"
              name="senha"
              placeholder="SENHA"
            />
          </div>
          <div class="form-group">
            <a href="/"
              ><p class="text-left lead small">Esqueci minha senha</p></a
            >
          </div>
          <button type="submit" class="btn button btn-success login__button">
            Log-in
          </button>
        </form>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
<%- include('includes/footer') %>
