<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>

    <div class="col-lg-10 my-3">
      <h1 class="text-center">Sistema Integrado de Segurança</h1>
      <br>
      <hr>
      <h2 class="text-center">Salvo com sucesso!</h2>
      <hr>
      <br>
      <form action="/">
        <button class="btn btn-dark">Voltar</button>
      </form>
    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>